.homepage-container {
    width: 1440px;
    height: 527px; 
}

.background-image {
    background-image: url("C:\Users\HP\Desktop\Minimalist_Project\Assignment_1\src\assets\Frame_6.png"); /* Replace with your desired image URL */
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: relative;
}
  
  .navbar {
    width: 1440px;
    height: 72px;
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 1rem;
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
     
    background-color: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  
  /* .frameImage{
    
    height: 47.23px; 
    padding-top: 12px;
    padding-left: 120px;
  } */
  
  .frameImage {
    width: 120px; 
    height: 47.23; 
   
    margin-left: 120px;
  }
  
  .frameImage img {
    width: 100%; 
    height: auto; 
    display: block; 
  }

  /* Container styling */
.container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
   /* border: 1px solid blue; */
    width: 100%;
    margin-left: 3rem;
  }
  
  
  .box1 {
    width: 36rem; 
    background-color: #fff; 
    border: 1px solid #ddd; 
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    overflow: hidden;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    padding: 15px;
    
  }
  .box2 {
    width: 36rem; 
    background-color: #fff; 
    border: 1px solid #ddd; 
   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    overflow: hidden;
    
    display: flex;
    flex-direction: column; 
   justify-content: space-between;
    padding: 15px; 
  }
 .box1:hover{
    border: 1px solid blue;
 }
 .box2:hover{
    border: 1px solid blue;
 }
  .image {
    width: 100%;
    height: auto;
  }
  /* ////////////////////////////////////////////////////////////////////////////////////////////////////////// */
  .frame2{
    margin-top: 2rem;
    width: 118px;
    height: 138px;
  }
  .fram3{
    margin-right: 1.5rem;
    margin-top: 2rem;
    width: 118px;
    height: 138px;
  }
  .text-container {
    padding: 15px;
   
  }
  .rajuDiv{
    width:340px;
    height:28px;
    margin-Left:-15px;
    font-Weight:bold;
    font-size: 20px;
  }
  
 
  
  .btn {
   
    background-color:  #FE0000;
    
    color: #fff;
    border: none;
    width: 211px;
    height: 52px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    border: 2px solid blue;
  }
  
  .OnlyLine{
    width: 81%;
    height: 1rem;
    background-color: #FE0000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 120px;
  }
  /* ///////////////////////// last div //////////////////////////////////////////////////////////////////// */

   .icons-container {
    width: 1441px;
    height: 118px;
    background-color:#25A769;
    
    align-items: center; 
    
    padding: 0 20px; 
    position: relative; 
    margin-top: 5rem;
    border-bottom: 7.29px solid #ECE14C;
    border-top: 7.29px solid #ECE14C;
  }
  .textDiv{
    width: 908px;
    height: 139px;
  }
  .follow-text {
    margin: 0;
    font-size: 1em;
    color: #ECE14C; 
    margin-bottom: 5px; 
    margin-left: 620px;
    font-size: 25px;
    font-weight: bold;
    margin-top: 25px;
  }
  .corner-image {
    width: 55px;
    height: 76px; 
    position: absolute;
    top: 21px;
    /* margin-left: 21px;  */
  }
  
  .corner-image-left {
    left: 16x; 
  }
  
  .corner-image-right {
    /* right: 10px; */
    margin-left: 1250px;
  }
  
  
  .icons {
    display: flex;
    gap: 10px; 
    margin-left: 591px;
    font-weight: bold;
    
  }
  
  .icon {
    width: 36px; 
    height: 36px; 
    cursor: pointer;
    transition: transform 0.3s ease; 
  }
  
  .icon:hover {
    transform: scale(1.1); 
  } 
  .firstLine{
    width: 30rem;
    height: 1rem;
    margin-left: 120px;
  }
  .about{
    width:87px ;
  }
  
  @media only screen and (min-device-width: 375px) and (max-device-width: 430px) and (-webkit-min-device-pixel-ratio: 2) {
    .navbar{
      height: 40px;
      width: 100%;
    }
    .frameImage {
      width: 80px; 
      height: 33px; 
      text-align: center;
      margin-top: -10px;
    }
    .background-image {
     
      background-size: cover;
      background-position: center;
      height: 31%;
      width: 31%;
      position: relative;
  }
  .firstLine{
    width: 15rem;
    height:0.5rem ;
    margin-left: -60px;
  }
  .AboutDiv{
    margin-left: -6rem;
  }
  .about{
    width: 20px;
  }
  .textDiv{
    display: flex;
    justify-content: center;
  }
  }